.App {
    text-align: center;
  }
  
  .video-container {
    position: relative;
    display: inline-block;
  }
  
  .bounding-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  